<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Note Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Fake ₹500 Note Detector</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required><br>
            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
            <div class="result">
                Prediction: {{ prediction }}
            </div>
        {% endif %}
    </div>
</body>
</html>
